@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);

  --color-gold-500: #d4af37;
  --color-gold-600: #b4941f;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #fafaf9;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
}